<head>
    <h1 style="text-align:center;"> This is main page </h1>
    <style>
        #btn_group button{
            border: 1px solid skyblue;
            background-color: beige;
            color: skyblue;
            padding: 5px;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }
        #btn_group button:hover{
            color:white;
            background-color: lightpink;
        }
    </style>
</head>
<body>
<hr>
<h3>DKU OPEN-SOURCE DJANGO PROJECT</h3>
<p>select option below</p>
    <br>
    <div id = "btn_group">
        <button id = "btn_home" style="border: 1px black solid; margin: 5px 0px;"><a href="/">home</a></button>
        <button id = "btn_userinfo" style="border: 1px black solid; margin: 5px 0px;"><a href="http://127.0.0.1:8000/info">유저 정보</a></button>
        <button id = "btn_admin" style="border: 1px black solid; margin: 5px 0px;"><a href="http://127.0.0.1:8000/admin">관리자 페이지</a></button>
        <button id = "btn_bulletin" style="border: 1px black solid; margin: 5px 0px;"><a href="http://127.0.0.1:8000/bulletinboard/">게시판</a></button>
        {% if login_session %}
        <a href="{% url 'user:logout' %}"><button>로그아웃</button></a>
        {% else %}
        <button id = "btn_signup" style="border: 1px black solid; margin: 5px 0px;"><a href="http://127.0.0.1:8000/register">회원 가입</a></button>
        <button id = "btn_login" style="border: 1px black solid; margin: 5px 0px;"><a href="http://127.0.0.1:8000/login">로그인</a></button>
        {% endif %}
    </div>
    <hr>
{% block contents %}
{% endblock contents %}
</body>
