{% extends 'board/main.html' %}
{% block contents %}
<h1 style="text-align: center;">user information</h1>
<hr>
<p> 사용자 정보 게시 페이지 </p>
Main page: <button><a href="http://127.0.0.1:8000">go to main page</a></button>
<br>
Bulletin board page: <button><a href="http://127.0.0.1:8000/bulletin">going main bulletin board page</a></button>
<br>
sign up page : <button><a href="http://127.0.0.1:8000/register">register</a></button>
<br>
admin page : <button><a href="http://127.0.0.1:8000/admin"></a></button>
{% endblock contents %}