{% extends 'board/main.html' %}
{% block contents %}
<div>User Information page</div>
<hr>
<ul>
    {% if u_list %}
    <table border = '1' bordercolor="black" width = "40%" height = "120">
        <caption style="color: olivedrab"><b>user information</b></caption>
        <thead>
        <tr>
            <th bgcolor = "#a9a9a9" width="30%">user id</th>
            <th bgcolor="#a9a9a9">user name</th>
            <th bgcolor="#a9a9a9">user phone num.</th>
        </tr>
        </thead>
        <tbody>
    {% for i in u_list %}
        <tr>
            <td style="text-align:center;">{{ i.u_id }}</td>
            <td style="text-align:center;">{{ i.u_name }}</td>
            <td style="text-align:center;">{{ i.u_phone }}</td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
    {% endif %}
</ul>
{% endblock contents %}